<h1>Welcome to our <br>
	ANAGRAM GENERATOR</h1>


	<form action = "/" method="post" class="form">
		<label for="word" class="emphasise"> Three letter words ONLY please! <br></label>
		<input type="text" name="word">
		<br>
		<input type="submit" class="btn Kim-red" value="Show me my Anagrams!">
		<br>
	</form>


<div class = 'errors'>
	<%= @error %>
</div>